*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    /* background-color: antiquewhite; */
}
.container
{
    width: 100%;
    min-height:200%;
    display:flex;
    justify-content: space-around;
}
/* ------------------side bar------------- */
.container .sider-bar
{
    width: 20%;
    background: azure;
    min-height:800px ;
}
.sider-bar .nav-bar
{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.sider-bar  .nav-bar .logo
{
    display: flex;
    align-items: center;;
}
.sider-bar .nav-bar .logo img
{
    height: 40px;
    width: 40px;
}
.sider-bar .nav-bar .logo h3
{
    color:royalblue;
}
.sider-bar .nav-bar ul{
    list-style-type: none;
    width:90%;

}
.sider-bar .nav-bar ul li
{
    display:flex;
    justify-content: center;
    border: 1px solid #000;
    padding:10px;
    background: #fff;
    margin: 5px;
    width:100%;
}
.sider-bar .nav-bar ul li a
{
    text-decoration: none;
    font-size: 20px;
    padding-left:10px;
}
.sider-bar .nav-bar ul li i
{
    font-size: 20px;
}

/* ------------mainbar menu------------------------ */
.container .main-bar
{
    width: 80%;
    height: 200px;;
}
.main-bar .menu
{
    width:50%;
    height: 60px;
    background: #fff;
}
.menu ul
{
    list-style: none;
}
.menu ul li{
    display: inline-block;
    padding-top:10px;
    
}
.menu ul li a
{
    text-decoration: none;
    color:#000000;
    margin-left:20px;
    font-size: 20px;
}
