.mycourse
{
    width:60%;
  
}
.mycourse h3
{
    height: 50px;
}

.mycourse .mycourse-menu 
{
    width: 100%;
    height: 50px;
    align-content: center;
}
.mycourse .mycourse-menu .btn
{
    width: 100px;
    height: 40px;
    margin-left: 15px;
    border-radius: 5px;
    border: 1px solid #8db6fb;
   
}
.mycourse .mycourse-menu .btn:hover
{
    color:#8db6fb;
    background-color: #ebf2fe;
    cursor: pointer;
}
.course
{
    width:100%;
    display: flex;
    height: 180px;
    align-items: start;
    /* justify-content: center; */

}
.course img
{
    width:70%;
    height:170px;
    padding:10px;
}
.course .content
{
    border: 1px solid #000;
    margin-top:20px;
}
.tags
{
    display: flex ;
    align-items: center;
    justify-content: space-around;
}
.content-course
{
    height:100px;
    width:60%;
    margin-top: 10px;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #8db6fb;
    background-size: 100% 100%;
}